:root {
  --sm-text: #4c4c4c;
  --sm-orange: #f47c00;
  --sm-border: #e6e6e8;
  --sm-content-bg: #f1f1f1;
  --sm-content-border: #ccc;
  --sm-token-bg: #f1e3c8;
  --sm-token-border: #f1b56d;
  --sm-tab-bg: #fdfdfd;
  --sm-header-bg: #74B739;
  --sm-header-color: #fff;
}

html[data-color-scheme=dark] {
  --sm-text: #cccccc;
  --sm-border: #414448;
  --sm-content-bg: #212429;
  --sm-content-border: #ccc;
  --sm-token-bg: #23201b;
  --sm-token-border: #edad3b;
  --sm-tab-bg: #212327;
  --sm-header-bg: #74B739;
  --sm-header-color: #fff;
}

#pal_style_manager_legend .widget.stylemanager > h3 {
  display: none;
}

.widget.stylemanager {
  margin-left: 15px;
  margin-right: 15px;
  clear: both;
}
.widget.stylemanager > h3 {
  margin-bottom: 15px;
}
.widget.stylemanager .sm-groupTitle {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}
.widget.stylemanager .no_styles {
  min-height: auto;
}
.widget.stylemanager .no_styles p {
  margin-bottom: 0;
}
.widget.stylemanager .tl_help {
  font-size: 0.75rem;
}
.widget.stylemanager .tab-container {
  position: relative;
  margin-bottom: 15px;
}
.widget.stylemanager .tab-container > label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 8px 10px;
  margin-right: 4px;
  background: var(--sm-content-bg);
  border: solid var(--sm-border);
  border-width: 1px 1px 0 1px;
  border-radius: 3px 3px 0 0;
  opacity: 0.8;
}
.widget.stylemanager .tab-container > label:hover {
  opacity: 1;
}
.widget.stylemanager .tab-container:last-child {
  margin-bottom: 0;
}
.widget.stylemanager .tab-content {
  display: none;
  border: 1px solid var(--sm-border);
  background: var(--sm-tab-bg);
  padding: 5px 5px 15px 5px;
}
.widget.stylemanager .tab-content > hr {
  display: none;
  float: left;
  clear: both;
  width: calc(100% - 30px);
  margin: 22px 15px 6px;
  background: var(--sm-border);
}
.widget.stylemanager .tab-content > div {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 80px;
  width: calc(100% / var(--sm-i, 1) - 30px);
  float: left;
}
.widget.stylemanager .tab-content > div.long {
  --sm-i:1!important;
}
.widget.stylemanager .tab-content > div + hr {
  display: block;
}
.widget.stylemanager .tab-content > div.seperator, .widget.stylemanager .tab-content > div.separator {
  clear: both;
}
.widget.stylemanager .tab-content > div.seperator:before, .widget.stylemanager .tab-content > div.separator:before {
  content: "";
  display: table;
}
.widget.stylemanager .tab-content > div.desc {
  padding-top: 13px;
  padding-bottom: 20px;
  margin-bottom: 7px;
  min-height: auto;
  color: var(--sm-text);
  line-height: 1.3;
  border-bottom: 1px solid var(--sm-border);
}
.widget.stylemanager .tab-content:after {
  display: block;
  content: "";
  clear: both;
}

.sm-bt {
  border-top: 1px solid var(--sm-border);
}
.sm-groupAlias, .sm-childAlias {
  opacity: 0.65;
  font-size: smaller;
  font-style: italic;
}
.sm-groupAlias {
  font-size: small;
}
.sm-hl-container {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
}
.sm-groupHeadline {
  font-weight: 600;
  font-size: 0.9375rem;
}
.sm-container {
  padding: 10px 0;
  border-bottom: 1px solid var(--sm-border);
}
.sm-container .children {
  margin: 10px 0 0 0;
  padding: 5px 15px;
  flex-basis: 100%;
  border: 1px solid var(--sm-border);
  border-radius: 3px;
}
.sm-container label {
  margin-left: 5px;
  flex: 1;
}
.sm-container input[type=checkbox],
.sm-container label {
  cursor: pointer;
}
.sm-container .child {
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid var(--sm-border);
}
.sm-container .child:last-of-type {
  border-bottom: none;
}

.stylemanager .tab-nav[id^=nav-39]:checked ~ [id^=tab-39], .stylemanager .tab-nav[id^=nav-38]:checked ~ [id^=tab-38], .stylemanager .tab-nav[id^=nav-37]:checked ~ [id^=tab-37], .stylemanager .tab-nav[id^=nav-36]:checked ~ [id^=tab-36], .stylemanager .tab-nav[id^=nav-35]:checked ~ [id^=tab-35], .stylemanager .tab-nav[id^=nav-34]:checked ~ [id^=tab-34], .stylemanager .tab-nav[id^=nav-33]:checked ~ [id^=tab-33], .stylemanager .tab-nav[id^=nav-32]:checked ~ [id^=tab-32], .stylemanager .tab-nav[id^=nav-31]:checked ~ [id^=tab-31], .stylemanager .tab-nav[id^=nav-30]:checked ~ [id^=tab-30], .stylemanager .tab-nav[id^=nav-29]:checked ~ [id^=tab-29], .stylemanager .tab-nav[id^=nav-28]:checked ~ [id^=tab-28], .stylemanager .tab-nav[id^=nav-27]:checked ~ [id^=tab-27], .stylemanager .tab-nav[id^=nav-26]:checked ~ [id^=tab-26], .stylemanager .tab-nav[id^=nav-25]:checked ~ [id^=tab-25], .stylemanager .tab-nav[id^=nav-24]:checked ~ [id^=tab-24], .stylemanager .tab-nav[id^=nav-23]:checked ~ [id^=tab-23], .stylemanager .tab-nav[id^=nav-22]:checked ~ [id^=tab-22], .stylemanager .tab-nav[id^=nav-21]:checked ~ [id^=tab-21], .stylemanager .tab-nav[id^=nav-20]:checked ~ [id^=tab-20], .stylemanager .tab-nav[id^=nav-19]:checked ~ [id^=tab-19], .stylemanager .tab-nav[id^=nav-18]:checked ~ [id^=tab-18], .stylemanager .tab-nav[id^=nav-17]:checked ~ [id^=tab-17], .stylemanager .tab-nav[id^=nav-16]:checked ~ [id^=tab-16], .stylemanager .tab-nav[id^=nav-15]:checked ~ [id^=tab-15], .stylemanager .tab-nav[id^=nav-14]:checked ~ [id^=tab-14], .stylemanager .tab-nav[id^=nav-13]:checked ~ [id^=tab-13], .stylemanager .tab-nav[id^=nav-12]:checked ~ [id^=tab-12], .stylemanager .tab-nav[id^=nav-11]:checked ~ [id^=tab-11], .stylemanager .tab-nav[id^=nav-10]:checked ~ [id^=tab-10], .stylemanager .tab-nav[id^=nav-9]:checked ~ [id^=tab-9], .stylemanager .tab-nav[id^=nav-8]:checked ~ [id^=tab-8], .stylemanager .tab-nav[id^=nav-7]:checked ~ [id^=tab-7], .stylemanager .tab-nav[id^=nav-6]:checked ~ [id^=tab-6], .stylemanager .tab-nav[id^=nav-5]:checked ~ [id^=tab-5], .stylemanager .tab-nav[id^=nav-4]:checked ~ [id^=tab-4], .stylemanager .tab-nav[id^=nav-3]:checked ~ [id^=tab-3], .stylemanager .tab-nav[id^=nav-2]:checked ~ [id^=tab-2], .stylemanager .tab-nav[id^=nav-1]:checked ~ [id^=tab-1], .stylemanager .tab-nav[id^=nav-0]:checked ~ [id^=tab-0] {
  display: block;
}

.stylemanager .tab-nav {
  display: none;
}
.stylemanager .tab-nav[id^=nav-]:checked + label {
  top: 1px;
  padding-bottom: 9px;
  border-top-color: var(--sm-orange);
  background: var(--sm-tab-bg);
  opacity: 1;
  cursor: default;
}
#tl_listing .sm_list_token {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  padding: 1px 3px;
  width: 8px;
  border: 1px solid var(--sm-content-border);
  border-radius: 2px;
  background-color: var(--sm-content-bg);
}
#tl_listing .sm_list_token.var {
  background-color: var(--sm-token-bg);
  border-color: var(--sm-token-border);
  cursor: help;
}

.navigation.style_manager_categories {
  display: none !important;
}

#tl_buttons .header_style_manager_config {
  display: none;
}

@media (min-width: 600px) {
  :root {
    --sm-i: 2;
  }
}
@media (min-width: 770px) {
  #tl_buttons {
    position: relative;
  }
  #tl_buttons .header_style_manager_config {
    position: absolute;
    top: 8px;
    left: 18px;
    display: inline-block;
    padding: 4px 9px;
    background: var(--sm-header-bg);
    color: var(--sm-header-color);
    border-radius: 10px;
    font-size: 0.9em;
    line-height: 1;
  }
  #tl_buttons .header_style_manager_import sup {
    display: none;
  }
}
@media (min-width: 1200px) {
  :root {
    --sm-i: 3;
  }
}

/*# sourceMappingURL=stylemanager.css.map */
