:root {
  --sm-text: #4c4c4c;
  --sm-orange: #f47c00;
  --sm-border: #e6e6e8;
  --sm-content-bg: #f1f1f1;
  --sm-content-border: #ccc;
  --sm-token-bg: #f1e3c8;
  --sm-token-border: #f1b56d;
  --sm-tab-bg: #fdfdfd;
  --sm-header-bg: #74B739;
  --sm-header-color: #fff;
}

html[data-color-scheme=dark] {
  --sm-text: #cccccc;
  --sm-border: #414448;
  --sm-content-bg: #212429;
  --sm-content-border: #ccc;
  --sm-token-bg: #23201b;
  --sm-token-border: #edad3b;
  --sm-tab-bg: #212327;
  --sm-header-bg: #74B739;
  --sm-header-color: #fff;
}

.tab-content-container {
  container-name: sm-widget;
  container-type: inline-size;
}

:not(.widget-group) {

  > .widget.stylemanager {
    margin-left: 15px;
    margin-right: 15px;
    clear: both;
  }
}

.widget {

  &.stylemanager {

    > h3 {
      margin-bottom: 15px;
      display: none;
    }

    .sm-groupTitle {
      margin-top: 1rem;
      padding-bottom: .5rem;
    }

    .no_styles {
      min-height: auto;

      p {
        margin-bottom: 0;
      }
    }

    .tl_help {
      font-size: .75rem;
    }

    .sm-tab-container {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .tab-btn {
      display: inline-block;
      position: relative;
      cursor: pointer;
      z-index: 1;
      padding: 8px 10px;
      margin-right: 1px;
      background: var(--sm-content-bg);
      border: solid var(--sm-border);
      border-width: 1px 1px 0 1px;
      border-radius: 3px 3px 0 0;
      opacity: .8;
      vertical-align: bottom;

      &[aria-expanded="true"] {
        top: 1px;
        padding-bottom: 9px;
        border-top-color: var(--sm-orange);
        background: var(--sm-tab-bg);
        opacity: 1;
        cursor: default;
      }

      &:hover {
        opacity: 1;
      }
    }

    .tab-content {
      border: 1px solid var(--sm-border);
      background: var(--sm-tab-bg);
      padding: 5px 8px 15px;

      &:not(.active) {
        display: none;
      }

      > hr {
        display: none;
        float: left;
        clear: both;
        width: calc(100% - 12px);
        margin: 22px 7px 6px;
        background: var(--sm-border);
      }

      > div {
        margin-left: 6px;
        margin-right: 6px;
        min-height: 80px;
        width: calc((100% / var(--sm-i, 1)) - 12px);
        float: left;

        &.long {
          --sm-i:1!important;
        }

        + hr {
          display: block;
        }

        &.separator {
          clear: both;

          &:before {
            content: "";
            display: table;
          }
        }

        &.desc {
          padding-top: 13px;
          padding-bottom: 20px;
          margin-bottom: 7px;
          min-height: auto;
          color: var(--sm-text);
          line-height: 1.3;
          border-bottom: 1px solid var(--sm-border);
        }
      }

      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}

@container sm-widget (width > 1120px) {

  .widget.stylemanager {
    .w16  { --sm-i: 6 }
    .w25  { --sm-i: 4 }
    .w33  { --sm-i: 3 }
    .w50  { --sm-i: 2 }
    .w100 { --sm-i: 1 }
  }
}

.sm {

  &-bt {
    border-top: 1px solid var(--sm-border);
  }

  &-groupAlias,
  &-childAlias {
    opacity: .65;

    font-size: smaller;
    font-style: italic;
  }

  &-groupAlias {
    font-size: small;
  }

  &-hl-container {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
  }

  &-groupHeadline {
    font-weight: 600;
    font-size: .9375rem;
  }

  &-container {
    padding: 10px 0;
    border-bottom: 1px solid var(--sm-border);

    .children {
      margin: 10px 0 0 0;
      padding: 5px 15px;
      flex-basis: 100%;

      border: 1px solid var(--sm-border);
      border-radius: 3px;
    }

    label {
      margin-left: 5px;
      flex: 1;
    }

    input[type=checkbox],
    label {
      cursor: pointer;
    }

    .child {
      display: flex;

      padding: 5px 0;
      border-bottom: 1px solid var(--sm-border);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

#tl_listing {

  .sm_list_token {
    display: inline-block;
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    padding: 1px 3px;
    width: 8px;
    border: 1px solid var(--sm-content-border);
    border-radius: 2px;
    background-color: var(--sm-content-bg);

    &.var {
      background-color: var(--sm-token-bg);
      border-color: var(--sm-token-border);
      cursor: help;
    }
  }
}

.navigation {

  &.style_manager_categories {
    display: none !important;
  }
}

#tl_buttons {

  .header_style_manager_config {
    display: none;
  }
}

@media (min-width: 600px) {

  :root {
    --sm-i: 2;
  }
}

@media (min-width: 770px) {

  #tl_buttons {
    position: relative;

    .header_style_manager_config {
      position: absolute;
      top: 8px;
      left: 18px;
      display: inline-block;
      padding: 4px 9px;
      background: var(--sm-header-bg);
      color: var(--sm-header-color);
      border-radius: 10px;
      font-size: .9em;
      line-height: 1;
    }

    .header_style_manager_import sup {
      display: none;
    }
  }
}

@media (min-width: 1200px) {

  :root {
    --sm-i: 3;
  }
}
