services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    Oveleon\ContaoComponentStyleManager\:
        resource: '../src/'
        exclude: '../src/{Model,Event,StyleManager/Entity,ContaoComponentStyleManager.php}'
